<div>
  <div class="nav-parent">
    <ul class="nav-list">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
  </div>
</div>
<section class="nav-content">
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</section>